img {
  width: 100%;
}

.cartCheck {
  max-width: 300px;
}

.CartContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  margin: 30px auto;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cartCard {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.flexItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantity button {
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 24px;
  color: #2680c0;
}
.quantity p {
  font-size: 25px;
}
.quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.phoneText {
  /* line-height: 30px; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.phoneText span {
  font-size: 20px;
  color: #2680c0;
}
.phoneText P {
  color: #2680c0;
}
.phoneText button {
  max-width: 100px;
  padding: 10px 20px;
  border: none;
  font-size: 20px;
}

.mainCard h1 {
  text-align: center;
  /* margin-bottom: 30px; */
}
.clearBtn {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  border: none;
}
.totalContainer{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
h4{
  font-size: 23px;
}
h2{
  font-size: 25px;
}
.emptyText{
  display: flex;
  justify-content: center;
  margin: auto;
}